

```
1.3.1 Variable Assignment
```

In [39]:
x <- 12

In [40]:
# create vector of integers from 0 to 9
some_numbers <- c(0,1,2,3,4,5,6,7,8,9)

# alternatively 
some_numbers <- c(0:9)

In [41]:
some_numbers

 [1] 0 1 2 3 4 5 6 7 8 9

```
1.3.2 R Functions
```

In [42]:
mean(some_numbers)

[1] 4.5

```
1.4 R Packages 
```

In [43]:
library(tidyverse)

```
2.2 Loading Data
```

In [44]:
paygap <- read.csv('/content/UK Gender Pay Gap Data - 2019 to 2020.csv', header = TRUE)

In [45]:
head(paygap, n = 5)

  EmployerName                                         EmployerId
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY' 19070
2 10 TRINITY SQUARE HOTEL LIMITED                      19455
3 1LIFE MANAGEMENT SOLUTIONS LIMITED                     687
4 1ST CHOICE STAFF RECRUITMENT LIMITED                 18136
5 1ST HOME CARE LTD.                                   17484
  Address
1 Aberystwyth University, Penglais, Ceredigion, SY23 3FL
2 5 Market Yard Mews, 194-204 Bermondsey Street, London, United Kingdom, SE1 3TQ
3 Ldh House St Ives Business Park, Parsons Green, St. Ives, Cambridgeshire, PE27 4AA
4 1ST CHOICE RECRUITMENT, 8 St. Loyes Street, Bedford, MK40 1EP
5 Real Life Options, 35 East Port, Dunfermline, Fife, Scotland, KY12 7LG
  PostCode CompanyNumber SicCodes              DiffMeanHourlyPercent
1 SY23 3FL RC000641                            11.5
2 SE1 3TQ  08064685      82990                  8.7
3 PE27 4AA 02566586      93110,\n93130,\n93290 11.0
4 MK40 1EP 07972006      78109                 -2.3
5 KY12 7LG SC272838      86900,\n88100         -2.0
  DiffMedianHourlyPercent DiffMeanBonusPercent DiffMedianBonusPercent ⋯
1 10.3                        NA                   NA                 ⋯
2 10.3                      29.6                 54.5                 ⋯
3 -0.5                      81.5                 94.2                 ⋯
4  0.0                    -114.8               -249.3                 ⋯
5  0.5                        NA                   NA                 ⋯
  FemaleUpperMiddleQuartile MaleTopQuartile FemaleTopQuartile
1 60.0                      62.0            38.0
2 21.1                      66.7            33.3
3 57.7                      44.2            55.8
4 37.1                      50.0            50.0
5 91.0                       9.0            91.0
  CompanyLinkToGPGInfo
1 https://www.aber.ac.uk/en/equality/genderpaygapreporting2019/ \n\nhttps://www.aber.ac.uk/cy/equality/gender-pay-gap/
2
3 https://www.1life.co.uk/gender-pay-gap
4 https://www.1stchoice.net/gender-pay-gap-report-2019/
5 https://reallifeoptions.org/
  ResponsiblePerson                              EmployerSize
1 Elizabeth Treasure (Vice-Chancellor)           1000 to 4999
2 Linda Stigter (Director of People and Culture) 250 to 499
3 Mark Braithwaite (Managing Director)           250 to 499
4 Gill Knight (MD)                               250 to 499
5 Ian Hardcastle (Chief Operating Officer)       250 to 499
  CurrentName
1 'PRIFYSGOL ABERYSTWYTH' AND 'ABERYSTWYTH UNIVERSITY'
2 10 TRINITY SQUARE HOTEL LIMITED
3 1LIFE MANAGEMENT SOLUTIONS LIMITED
4 1ST CHOICE STAFF RECRUITMENT LIMITED
5 1ST HOME CARE LTD.
  SubmittedAfterTheDeadline DueDate             DateSubmitted
1 False                     2020/04/05 00:00:00 2020/04/03 14:47:45
2 False                     2020/04/05 00:00:00 2020/03/19 15:51:20
3 False                     2020/04/05 00:00:00 2020/03/10 17:03:17
4 False                     2020/04/05 00:00:00 2020/01/24 09:37:01
5 False                     2020/04/05 00:00:00 2020/03/12 08:21:06

In [46]:
colnames(paygap)

 [1] "EmployerName"              "EmployerId"
 [3] "Address"                   "PostCode"
 [5] "CompanyNumber"             "SicCodes"
 [7] "DiffMeanHourlyPercent"     "DiffMedianHourlyPercent"
 [9] "DiffMeanBonusPercent"      "DiffMedianBonusPercent"
[11] "MaleBonusPercent"          "FemaleBonusPercent"
[13] "MaleLowerQuartile"         "FemaleLowerQuartile"
[15] "MaleLowerMiddleQuartile"   "FemaleLowerMiddleQuartile"
[17] "MaleUpperMiddleQuartile"   "FemaleUpperMiddleQuartile"
[19] "MaleTopQuartile"           "FemaleTopQuartile"
[21] "CompanyLinkToGPGInfo"      "ResponsiblePerson"
[23] "EmployerSize"              "CurrentName"
[25] "SubmittedAfterTheDeadline" "DueDate"
[27] "DateSubmitted"

In [47]:
dim(paygap)

[1] 6921   27

```
2.3.1 Data types in R
```

In [48]:
class(paygap)

[1] "data.frame"

In [49]:
class(paygap$DiffMeanHourlyPercent)

[1] "numeric"

```
Could not follow the tutorial exercise from hereon as the dataset is no longer there, only the link is there
```

In [50]:
# cardiacdata <- read.csv('./data/normtemp.csv', header = TRUE)
# head(cardiacdata, n = 5)
# colnames(cardiacdata)
# dim(cardiacdata)
# class(cardiacdata)
# class(cardiacdata%bodytemp)
# class(cardiacdata$heartrate)

```
3.1.1 Indexing
```

In [51]:
# extract element in 1st row and 3th column
# cardiacdata[1,3]

In [52]:
# extract rows 5-7 from columns 1-3
# cardiacdata[5:7,1:3]

```
3.1.2 Extracting
```

In [53]:
# extract column 'bodytemp' and assign to new object 'temperatures'
# temperatures <- cardiacdata$bodytemp

```
3.1.3 Selecting columns 
```

In [54]:
# select columns 'gender' and 'heartrate' and assign to new object 'heartrates'
# heartrates <- select(cardiacdata, gender, heartrate)

```
3.1.4
```

In [55]:
## append variable names with their respective units
# rename 'bodytemp' to 'bodytemp_degF'
# cardiacdata <- rename(cardiacdata, bodytemp_degF = bodytemp)

# rename 'heartrate' to 'heartrate_bpm'
# cardiacdata <- rename(cardiacdata, heartrate_bpm = heartrate)

In [56]:
# head(cardiacdata)

```
3.1.5
```

In [57]:
# add new column with body temperature in degrees celsius
# cardiacdata <- mutate(cardiacdata, bodytemp_degC = (bodytemp_degF - 32)*(5/9))

In [58]:
# change values in gender column to read "Female" and "Male" instead of 1 and 2
# cardiacdata <- mutate(cardiacdata, gender = ifelse(gender == 1, 'Female', 
#                                             ifelse(gender == 2, 'Male', NA)))

In [59]:
# head(cardiacdata)

```
3.1.6 Filtering Data
```

In [60]:
# filter for data from female subjects only
# cardiacdata_female <- filter(cardiacdata, gender == 'Female')

```
3.1.7 Piping
```

In [61]:
# f(x)
# g(x)
# h(x)

In [62]:
# x %>% f() %>% g() %>% h()

In [63]:
# cardiacdata <- cardiacdata %>%
#  filter(gender == 'Female') %>%
#  select(-gender) %>%
#  mutate(bodytemp_Kelvin = bodytemp_degC + 273)

```
3.1.8 Aggregating Data
```

In [64]:
# cardiacdata_byGender <- cardiacdata %>%
#  group_by(gender) %>%                                  # group by 'gender'
#  summarize(avg_bodytemp_degF = mean(bodytemp_degF),    # aggregate using means
#            avg_bodytemp_degC = mean(bodytemp_degC), 
#            avg_heartrate_bpm = mean(heartrate_bpm))

```
3.1.9
```

In [65]:
some_numbers <- c(4,5,6,7,NA,8)

mean(some_numbers)

[1] NA

In [66]:
mean(some_numbers, na.rm = TRUE)

[1] 6

```
3.2.1 Histograms
```

In [67]:
# ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
#  geom_histogram(bins = 20)

In [68]:
# ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
#  geom_histogram(bins = 20, aes(y = ..density..))

In [69]:
# ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
#   geom_histogram(bins = 20, aes(y = ..density..), fill = 'lightblue') +
#   xlab('body temperature (celsius)') +
#   ggtitle('distribution of body temperatures') +
#   theme_light()

```
3.2.2 Scatterplots
```

In [70]:
# ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC)) + 
#   geom_point() +
#   theme_light()

In [71]:
# ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC, color = gender)) + 
#   geom_point() +
#   theme_light()

```
3.2.3 Box & Whisker Plots
```

In [72]:
# ggplot(data = cardiacdata, mapping = aes(x = gender, y = bodytemp_degC)) +
#   geom_boxplot() +
#   xlab('gender') +
#   ylab('body temperature (celsius)') +
#   theme_light()